.slidebox{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.slidePagination{
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 9px;
}

.paginationBullet{
  width: 16px;
  height: 2px;
  display: inline-block;
  margin: 0 4px;
}
