.App {
  text-align: center;
  display: flow-root;
}

.App a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  z-index: 100;
  position: relative;
  height: 39px;
  padding-left: 6px;
  top: 44px;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 10px 0px;
  background-color: white;
  overflow-x: scroll;
}

.nav a {
  display: block;
  line-height: 39px;
  padding: 0 10px;
  font-size: 15px;
  white-space: nowrap;
}

.logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.logo a {
  display: block;
  height: 20px;
}

.logo img {
  width: 42px;
  height: 20px;
}

:global(.active) {
  font-weight: 700;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.headerLayout {
  display: flex;
  height: 44px;
  padding: 0 16px;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 500;
  box-sizing: border-box;
}

.toggleButton {
  line-height: 44px;
  font-size: 20px;
  color: #ccc;
}


/* ========================================================================== */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}